@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Rubik , sans-serif;
}
body {
    background-color: white;
}
.navbar {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    color:rgb(231, 52, 52) ;
}
.left-nav {
    display: flex;
    cursor: pointer;

}
.navbar-links ul {
  display: flex;
  list-style: none;
}
.navbar-links li a {
  padding: 1rem;
  text-decoration: none;
  color: rgb(231, 52, 52);
  display: block;
}
.navbar-links ul :hover {
  background-color: rgb(85,26,139);
  color: rgb(255, 255, 255);
}
.text {
    text-align: center bottom;
    background-image: url(/assets/CUT.jpg); /*Photo by Cut in A Moment on Unsplash*/
    background-repeat: no-repeat;
    background-position: center 30%;
    background-size: cover;
    background-color: rgb(231, 161, 231);
    background-attachment: fixed;
    color: rgb(255, 255, 255);
    padding: 20rem 5rem;
    line-height: 2rem;
}
.text h2, h3{
	color:rgb(231, 52, 52) ;
	letter-spacing: .5rem;
  font-size: 3rem;
}
.name {
  border-radius: 50%;
  background-color: rgb(231, 52, 52);
  width: fit-content;
  padding: 1.5rem;
  margin: -23.5rem 0rem 20rem 80%;
  color: rgb(255, 255, 255);
}
.started {
  background-color: rgb(255, 255, 255);
  padding: 1rem;
  border-radius: 15px;
  text-decoration: none;
  color: rgb(231, 52, 52);
  font-weight: 900;
}
#test , #how {
    text-align: center;
    padding: 3rem;
    color:rgb(231, 52, 52) ;
    line-height: 2rem;
}
.epistle {
    display: flex;
    justify-content: flex-start;
    margin: 2rem 0rem 0rem -3rem;
    gap: 10%;
}
.epistle p {
  padding: 2rem 0rem;
}
.epistle img {
  width: 40%;
}
.cards {
    display: flex;
    justify-content: center;
    flex-flow: wrap;
    gap: 5%;
}
.cards :hover {
    transform: scale(1.2); /* this is to cause the card zoom*/
  }
.first-card , .second-card , .third-card {
    width: 300px;
    box-shadow: 2px 2px 5px 2px rgb(201,182,167);
    color:rgb(231, 52, 52);
    text-align: center;
    padding: 1rem;
    line-height: 2rem;
    margin: 1.5rem;
}
footer {
    display: flex;
    justify-content: space-between;
    padding: 2.5rem;
    margin: 7rem 0rem 0rem 0rem;
    background-color:rgb(201,182,167);
    color:rgb(231, 52, 52);
}
footer a  {
    color:rgb(231, 52, 52);
}
/* RESPONSIVE NAV-BAR DESIGN */

/* Start */
.toggle-button {
  position: absolute;
  top: 2.5rem;
  margin: -.8rem 0rem 0rem 0rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 2rem;
  height: 1.3rem;
}
.bar {
  height: 3px;
  width: 100%;
  background-color: rgb(231, 52, 52) ;
  border: radius 10px;
}
/* End */

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
}
  
/* Modal Content */
.modal-content {
    background-color: transparent;
    margin: -1rem auto;
    padding: 20px;
    border: 2px solid #888;
    width: 50%;
}
  
/* The Close Button */
.close {
    color: rgb(231, 52, 52);
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
.sign-in h4 {
      text-align: center;
}
.sign-in h6 {
    font-size: large;
}
.sign-in {
    line-height: 1.5rem;
    padding: 0rem 2rem;
    font-size: large;
}
.sign-in button{
    border-radius: 15px;
    padding: 0.5rem 3rem;
    cursor: pointer;
}
.sign-in button:hover{
    background-color: rgb(231, 52, 52);
    color: rgb(255, 255, 255);
}
.input {
      padding: 0.5rem 5rem;
      margin: .5rem 0rem;
      border-radius: 15px;
}

/* ANIMATED TEXT CONTENT */
  #container {
	text-align: left;
  position: absolute;
}
#text {
	display: inline-block;
	vertical-align: middle;
	color: rgb(255, 255, 255);
	letter-spacing: .5rem;
  font-size: 2rem;
}
.begin {
	display: inline-block;
	vertical-align: middle;
	color: rgb(255, 255, 255);
	letter-spacing: .5rem;
  font-size: 2.2rem;
  padding: 1em 0em 0em ;
}
@keyframes blink {
	from, to { 
		background-color: white; 
	}
}
/* MEDIA QUERY ADDED */
@media screen and (max-width:480px) {
  .toggle-button {
      display: flex;
  }
  .navbar-links {
      display: none;
      width: 100%;
  }
  .navbar {
      flex-direction: column;
      align-items: flex-start;
  }
  .navbar-links ul { 
      flex-direction: column;
      width: 100%;
      padding: 1.5rem 1.5rem 0rem 1.5rem;
  }
   .navbar-links li { 
      text-align: center;
  }
  .navbar-links li a {
      padding: .5rem 1rem;
  }
  .navbar-links.active {
      display: flex;
  }
  body {
    overflow-wrap: break-word;
  }
  .text {
    padding: 20rem 2rem ;
  }
  .text h2 {
    font-size: 2rem;
    padding: 0rem 0rem 1rem 0rem;
  }
  .text h3 {
    font-size: 2.5rem;
  }
  #text {
    font-size: 1rem;
  }
  .epistle {
    display: inline-block;
    justify-items: center;
    width: 450px;
  }
  #how h2 {
    text-align: center;
  }
  .modal {
    /* display: none; Hidden by default */
    /* position: fixed; Stay in place */
    /* z-index: 1; Sit on top */
    /* padding-top: 100px; Location of the box */
    left: 0;
    top: 15%;
    width:400px; /* Full width */
    /* height: 100%; Full height */
}
  
/* Modal Content */
.modal-content {
    background-color: rgb(255, 255, 255);
    padding: 5px;
    border: 2px solid #888;
    width: 50%;
}
.input {
  padding: 0.5rem;
  margin: .5rem -1.5rem;
  border-radius: 15px;
}
.sign-in button{
  border-radius: 15px;
  padding: 0.5rem;
  cursor: pointer;
}
}
